# macOS artifacts
.DS_Store

# task artifacts
.task

# environment config
.env

# goreleaser artifacts
dist

# vscode artifacts
.vscode

# main file
main.go

# allow example main.go files
!examples/**/main.go

examples/deleteme

# binary
tokenizerBinary

# misc
*.ignore
*.bin
*.txt